html, body {
            height: 1000%;
            width: 1000%;
            transform: scale(0.1);
            transform-origin: left top;
            margin: 0;
            padding: 0;
            background-color: #000000;
            overflow: hidden;
            position: fixed;
            }
